<h1>Opportunities from <%= @company.name %></h1>

<% if @jobs.empty? %>
  <h4>No registered jobs </h4>
<% else %>
  <% @jobs.each do |job| %>
  <div>
    <%= link_to job.title, company_job_path(job.company, job) %> 
    <% if job.inactive? %>
      <span>is <%= job.status %></span>
    <% end %>
    <p>Deadline application: <%= job.deadline_application %></p>
  </div>
  <hr>
  <% end %>
<% end %>
