<div class="container category">
  <h3 class="category__title">Entrar como:</h3>

  <div class="category__list">
    <%= link_to 'Candidato', new_candidate_session_path, class: "category__btn candidate" %>
    <%= link_to 'Colaborador', new_employee_session_path, class: "category__btn employee" %>
  </div>
</div>
