<div class="container category">
  <h3 class="category__title">Choose your category</h3>

  <div class="category__list">
    <%= link_to 'Candidate', new_candidate_session_path, class: "category__btn candidate" %>
    <%= link_to 'Employee', new_employee_session_path, class: "category__btn employee" %>
  </div>
</div>
