<h1>Index Enrollments Candidate</h1>

<% @enrollments.each do |enrollment| %>
  <div>
    <div>
      <p>Job:</p>
      <%= link_to enrollment.job.title, company_job_path(enrollment.job.company, enrollment.job) %>
      <p>Company:</p>
      <%= enrollment.job.company.name %>
    </div>
    <hr>
  </div>
<% end %>