<div class="container companies">

  <h3>Index Companies</h3>

  <% if @companies.empty?%>
    <h4>None company registered </h4>
  <% else %>
    <% @companies.each do |company| %>
      <div class="companies__list">
        <dl>
          <dt class="companies__label">Nome:</dt>
          <dd><%= link_to company.name, company_path(company), class: "companies__name" %></dd>
        </dl>
      </div>
    <% end %>
  <% end %>
</div>