// --Company Show--
.dashboard {
  margin-top: 20px;

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 24px;
  }

  &__settings {
    text-align: right;
  }

  &__btn.apply,
  &__btn.approve, 
  &__btn--disable {
    padding: 8px 16px;

    border: 1px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 4px;

    &:hover {
      border: 1px solid lightblue;
      background-color: transparent;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__btn--disable,
  &__btn.approve {
    margin-right: 24px;
  }

  &__btn.edit {
    padding: 8px 16px;

    border: 1px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 4px;
    margin-right: 24px;

    &:hover {
      border: 1px solid lightblue;
      background-color: transparent;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__btn.delete,
  &__btn.deny {
    padding: 8px 16px;

    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: white;
    border-radius: 4px;

    &:hover {
      border: 1px solid lightcoral;
      background-color: transparent;
      color: darken(lightcoral, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__status {
    font-size: 14px;
    color: lightslategray;
    border: 2px solid lightslategray;
    border-radius: 30px;
    padding: 8px 16px;
    margin: 16px 0;
  }

  &__status.approved,
  &__status.accepted {
    color: limegreen;
    border: 1px solid limegreen;
  }

  &__status.denied,
  &__status.declined {
    color: red;
    border: 1px solid red;
  }

  &__grid.two__columns {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__grid.one__column{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__subtitle {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__name {
    font-size: 20px;
    margin-top: 16px;
  }

  &__item {
    padding: 16px 0;
  }

  &__item.proposal {
    padding: 30px;
    margin: 24px 0;
    border: 1px solid black;
    border-radius: 20px;
  }

  &__label {
    color: rgba(0, 0, 0, 0.596);
    margin-bottom: 8px;
  }

  &__attribute {
    margin: 8px 0;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 225px;
    margin: 0 auto;

    & img {
      width: 100%;
    }
  }
}
