@import '_variables';

.dashboard {
  margin-top: 20px;

  &__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 24px;
  }

  &__settings {
    text-align: right;
  }

  &__title {
    font-size: 32px;
    color: $white;
  }

  .btn + &__title {
    margin-left: 24px;
  }

  .btn + .btn {
    margin-left: 24px;
  }

  &__grid.two__columns {
    margin: 64px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &__grid.one__column{
    display: grid;
    grid-template-columns: 1fr;
  }

  //Job show
  &__list.three__columns {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 40px;
    grid-template-areas: 
    "desc desc desc"
    "salary level type"
    "req req req"
    "date vacancy vacancy";
  }

  &__item.salary {
    grid-area: salary;

    p.dashboard__attribute::before {
      content: "R$";
    }
  }

  &__item.desc {
    grid-area: desc;
  }

  &__item.level {
    grid-area: level;
  }

  &__item.type {
    grid-area: type;
  }

  &__item.req {
    grid-area: req;
  }

  &__item.date {
    grid-area: date;
  }

  &__item.vacancy {
    grid-area: vacancy;
  }
  // end Job show

  &__list.two__columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  &__subtitle {
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
  }

  &__item {
    padding: 16px 0;
  }

  &__item.proposal {
    padding: 30px;
    margin: 24px 0;
    border: 1px solid black;
    border-radius: 20px;
  }

  &__label {
    font-size: 18px;
    color: $label-gray;
    margin-bottom: 8px;
  }

  &__attribute {
    font-size: 24px;
    color: $white;
    margin: 8px 0;
  }

  &__avatar {
    display: flex;
    align-items: flex-start;
    margin-left: auto;

    max-width: 225px;

    & img {
      width: 100%;
    }
  }

  // enrollment show
  &__grid.two__columns__eql {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 64px 0;
    column-gap: 56px;
  }

  &__list.one__column {
    grid-template-columns: 1fr;
  }

  .dashboard__subtitle {
    text-align: center;
    margin-bottom: 32px;
  }

  &__list.two__columns {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    grid-template-areas: 
    "sub sub"
    "title level"
    "desc desc"
    "salary type"
    "date vacancy"
    "req req";

    .dashboard__subtitle {
      grid-area: sub;
    }

    .dashboard__item.title {
      grid-area: title;
    }

    .dashboard__item.level {
      grid-area: level;
      margin-left: 50px;
    }

    .dashboard__item.desc {
      grid-area: desc;
    }

    .dashboard__item.type {
      grid-area: type;
      margin-left: 50px;
    }

    .dashboard__item.date {
      grid-area: date;
    }

    .dashboard__item.vacancy {
      grid-area: vacancy;
      margin-left: 50px;
    }

    .dashboard__item.req {
      grid-area: req;
    }
  }
}
