@import "_variables";
footer {
  background-color: $black-color;

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    &__copyright {
      color: $white;
    }
  }


}
