.index {
  margin-top: 20px;

  &__none {
    color: lightslategray;
  }

  &__list {
    padding: 24px 0;
    border-bottom: 1px solid black;

    &:last-child {
      border: none;
    }
  }


  &__item {
    margin-top: 16px;
  }

  &__item:first-child {
    margin-top: 0;
  }

  &__label {
    color: rgba(0, 0, 0, 0.596);
    margin-bottom: 8px;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__attribute.link {
    color: darkblue;
  }

  &__status {
    padding: 6px 12px;
    border-radius: 16px;
  }

  &__status.active {
    color: limegreen;
    border: 1px solid limegreen;
  }

  &__status.inactive {
    color: lightslategray;
    border: 1px solid lightslategray;
  }
}