@import '_variables';

// --Role--
.category {
  display: grid;
  grid-template-columns: minmax(300px, 600px);
  grid-template-rows: 200px 1fr;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 64px;
    font-weight: normal;
    color: $white;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    font-size: 36px;
    border-width: 2px;
  }
}
