@import '_variables';

.response {
  &__title {
    font-size: 32px;
    margin: 40px 0;
    color: $white;
  }
  // approved
  &__item.approved {
    text-align: center;

    .btn {
      font-size: 24px;
    }
  }

  &__item.pending {
    text-align: center;
  }

  &__item.denied {
    padding: 50px;
    border: 2px solid $red-dark;
    border-radius: 8px;
  }

  &__title:first-child {
    margin-top: 0;
  }

  &__block {
    margin-bottom: 24px;
  }

  &__label {
    font-size: 18px;
    margin-bottom: 8px;
    color: $label-gray;
  }

  &__attribute {
    font-size: 24px;
    color: $white;
  }
}