//Faltou separar em arquivos e fazer import no principal
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 30px;
}

// --Layouts/application
header .container {
  padding: 30px;
  margin-bottom: 50px;
  background-color: lightblue;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  &__logo {
    color: black;
  }

  &__list {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__item {
    margin-right: 3em;
  }

  &__profile {
    display: flex;

    span {
      color: rgba(0, 0, 0, 0.596);
    }
  }

  &__link {
    color: darkblue;
  }
}

.messages {
  padding: 0 30px;
  text-align: right;
}


// --Home--
.welcome {
  text-align: center;
  font-size: 36px;
}

// --Companies Index--
.index {
  margin-top: 20px;

  &__none {
    color: lightslategray;
  }

  &__list {
    padding: 24px 0;
    border-bottom: 1px solid black;
  }

  &__label {
    color: rgba(0, 0, 0, 0.596);
    margin-bottom: 8px;

    &.second {
      margin-top: 16px;
    }
  }

  &__attribute.link {
    color: darkblue;
  }

}

// --Company Show--
.dashboard {
  margin-top: 20px;

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 24px;
  }

  &__settings {
    text-align: right;
  }

  &__btn.apply,
  &__btn.approve, 
  &__btn--disable {
    padding: 8px 16px;

    border: 1px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 4px;

    &:hover {
      border: 1px solid lightblue;
      background-color: transparent;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__btn--disable,
  &__btn.approve {
    margin-right: 24px;
  }

  &__btn.edit {
    padding: 8px 16px;

    border: 1px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 4px;
    margin-right: 24px;

    &:hover {
      border: 1px solid lightblue;
      background-color: transparent;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__btn.delete,
  &__btn.deny {
    padding: 8px 16px;

    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: white;
    border-radius: 4px;

    &:hover {
      border: 1px solid lightcoral;
      background-color: transparent;
      color: darken(lightcoral, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__status {
    font-size: 14px;
    color: lightslategray;
    border: 2px solid lightslategray;
    border-radius: 30px;
    padding: 8px 16px;
    margin: 16px 0;
  }

  &__status.approved,
  &__status.accepted {
    color: limegreen;
    border: 1px solid limegreen;
  }

  &__status.denied,
  &__status.declined {
    color: red;
    border: 1px solid red;
  }

  &__grid.two__columns {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__grid.one__column{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__subtitle {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__name {
    font-size: 20px;
    margin-top: 16px;
  }

  &__item {
    padding: 16px 0;
  }

  &__item.proposal {
    padding: 30px;
    margin: 24px 0;
    border: 1px solid black;
    border-radius: 20px;
  }

  &__label {
    color: rgba(0, 0, 0, 0.596);
    margin-bottom: 8px;
  }

  &__attribute {
    margin: 8px 0;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 225px;
    margin: 0 auto;

    & img {
      width: 100%;
    }
  }
}

.jobs {
  margin-top: 24px;
  
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
  }

  &__settings {
    text-align: right;
  }

  &__btn.new {
    padding: 8px 16px;

    border: 1px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 4px;

    &:hover {
      border: 1px solid lightblue;
      background-color: transparent;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__item {
    padding: 16px 0;
  }

  &__name {
    padding: 8px 16px;

    border: 1px solid black;
    color: black;
    border-radius: 4px;

    &:hover {
      border: 1px solid transparent;
      background-color: black;
      color: white;

      transition: all .4s;
    }
  }
}

// --Role--
.category {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;

  background: rgb(221,235,238);
  background: linear-gradient(135deg, rgba(221,235,238,1) 9%, rgba(113,195,233,1) 79%);
  border-radius: 16px;

  width: 40%;
  height: 70vh;

  &__title {
    color: white;
    font-size: 32px;
  }

  &__list {
    display: flex;
    justify-content: space-around;

    width: 100%;
  }

  &__btn {
    color: white;
    font-size: 20px;
    padding: 8px 16px;

    border: 2px solid white;
    border-radius: 16px;

    &:hover {
      background-color: white;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }
}


// --Log in Candidate--
.log_in {
  width: 25%;
  background-color: lightblue;
  margin: 0 auto;
  padding: 30px;
  border-radius: 24px;

  &__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__block {
    padding: 16px 0;
  }

  &__label {
    color: lightslategray;
  }

  &__field {
    margin-top: 8px;
    width: 100%;
  }

  &__btn {
    font-size: 16px;
    color: darken(lightblue, 50%);
    font-size: 20px;
    padding: 8px 16px;
    margin: 16px 0;

    background-color: transparent;
    border: 2px solid darken(lightblue, 50%);
    border-radius: 16px;

    cursor: pointer;

    &:hover {
      background-color: white;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__signup,
  &__forgot {
    margin-top: 16px;
    color: black;
    text-decoration: underline;
  }
}

// --Sign up or edit Form--
.create {
  width: 40%;
  background-color: lightblue;
  margin: 0 auto;
  padding: 30px;
  border-radius: 24px;

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;
  }

  &__block {

    em {
      color: lightslategray;
    }
  }

  &__label {
    color: lightslategray;
  }

  &__field {
    margin-top: 8px;
    width: 100%;

    &[name="candidate[biography]"] {
      resize: none;
    }

  }

  &__btn {
    font-size: 16px;
    color: darken(lightblue, 50%);
    font-size: 20px;
    padding: 8px 16px;
    margin: 16px 0;

    background-color: transparent;
    border: 2px solid darken(lightblue, 50%);
    border-radius: 16px;

    cursor: pointer;

    &:hover {
      background-color: white;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }

  &__log_in{
    margin-top: 16px;
    color: black;
    text-decoration: underline;
  }

  &__delete {

    &__title {
      text-align: center;
      font-size: 24px;
    }
  }

  & .alert{
    color: red;
  } 
}

// Candidate edit form
.edit__or__delete {
  & .create {
    width: 60%;
    min-width: 600px;
  }
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 24px;
}

.create.edit {
  width: 40%;
  min-width: 600px;
}

.create.job {
  width: 40%;
}

// Edit candidate
.delete.create {
  width: 90%;
  max-width: 500px;
  max-height: 250px;

  background-color: lightcoral;

  &__title {
    color: white;
  }

  form.button_to {
    text-align: center;
    margin: 16px 0;
  }

  &__btn {
    color: white;
    border-color: white;

    &:hover {
      color: lightcoral;
    }
  }

  &__back {
    color: white;
  }
}

// --Forgot Password Candidate--
.forgot_password {
  width: 30%;
  background-color: lightblue;
  margin: 0 auto;
  padding: 30px;
  border-radius: 24px;

  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__block {
    padding: 16px 0;
  }

  &__label {
    color: lightslategray;
  }

  &__field {
    margin-top: 8px;
    width: 100%;
  }

  &__btn {
    font-size: 16px;
    color: darken(lightblue, 50%);
    font-size: 20px;
    padding: 8px 16px;
    margin: 16px 0;

    background-color: transparent;
    border: 2px solid darken(lightblue, 50%);
    border-radius: 16px;

    cursor: pointer;

    &:hover {
      background-color: white;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }
}

.response {
  &__header {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 400px;
    padding: 30px;
  }

  &__item {
    border: 1px solid black;
    max-width: 600px;
    padding: 30px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__label {
    color: lightslategrey;
    margin-bottom: 8px;
  }

  &__btn {
    margin-top: 16px;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid lightblue;
    background-color: lightblue;
    color: white;
    border-radius: 4px;

    &:hover {
      border: 1px solid lightblue;
      background-color: transparent;
      color: darken(lightblue, 50%);

      transition: ease-in-out .3s;
    }
  }
}